* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

.bg-off-white{
    background-color: rgb(232, 232, 232);
    color: black;
}

.bg-white{
    background-color: white;
    color: black;
}

.container {
    border: none;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
    z-index: 1;
    .content {
        display: flex;
        position: relative;
        flex: 1;
        padding: 5%;
        .content-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            flex: 1;
            .content-text-row{
                display: flex;
                justify-content: center;
                .content-text-row-card{
                    display: flex;
                    justify-content: space-evenly;
                    .content-text-row-card-sub-card{
                        width: 200px;
                        text-align: center;
                        aspect-ratio: 1/1;
                        .index{
                            position: absolute;
                            top: 0;
                            left: 0;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        img{
            width: 100%;
        }
    }
    .thin{
        flex-basis: 0;
        flex-grow: 0.2;
    }
    .banner{
        img{
            width: 100%;

        }
    }
}

.is-child-spaced-evenly{
    justify-content: space-evenly !important;
}

.make-flex-grow{
    .content-text-row-card{
        flex-basis: 0;
        flex-grow: 1;
    }
}

.no-fix-height{
    min-height: 0px !important;
}

.massive {
    font-size: 12rem;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 0.9em;
}

.sub-massive{
    font-size: 6rem;
    font-weight: 700;
}

.large {
    font-size: 3.5rem;
    font-weight: 700;
}

.hollow-text{
    color: rgb(0, 0, 0, 0);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.stroke-white{
    -webkit-text-stroke-color: white;
}

.medium {
    font-size: 2.3rem;
}

.sub-medium {
    font-size: 1.2rem
}

.shape {
    margin: 5px;
}

.before-line {
    width: max-content;
}

.color-border-blue:before{
    border-color: #3787C8 !important;
}

.before-line:before{
    content: "";
    border-bottom: 2px solid #E14B32;
    padding-left: 100px;
    margin: 0.5em;
    float: left;
}

.is-before-float-right:before{
    float: right;
}

.shape-circle {
    position: absolute;
    display: inline-block;
    min-height: 100px;
    max-height: 100px;
    top: -50px;
    left: -50px;
    aspect-ratio: 1/1;
    background-color: #E14B32;
    border-radius: 50%;
    z-index: -1;
}

.bg-gradient{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #E14B32, #3787C8);
}

.bg-yellowish{
    background-color: #FAAF41;
}

.bg-off-grey{
    background-color: #555F64;
}

.border-bluish{
    border-color: #3787C8;
}

.shape-lower-triangle {
    display: inline-block;
    border-left: 20px solid #FAAF41;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FAAF41;
    border-top: 20px solid transparent;
}

.shape-square-line-inmiddle {
    position: relative;
    display: inline-block;
    min-height: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
    background-color: #E14B32;
}

.shape-square-line-inmiddle:after {
    position: absolute;
    content: "";
    height: 60%;
    border-left: 3px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header {
    display: flex;
    justify-content: space-between;

    .logo {
        img{
            width: 150px;
            transform: rotate(-30deg);
        }
    }

    .nav {
        display: flex;

        .nav-element {
            padding: 5px 10px;
            text-align: right;
            font-size: 1.3rem;
        }
    }
}

.is-relative{
    position: relative;
}

.is-absolute{
    position: absolute;
}

.is-column-flex{
    flex-direction: column;
}

.is-float-right{
    float: right;
}


.color-redish-yellow{
    color: #E14B32;
}

.color-yellowish{
    color: #FAAF41;
}

.color-bluish{
    color: #3787C8;
}

.font-white{
    color: white !important;
}

.std-button{
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #FAAF41;
    font-size: 1.3rem;
    padding: 10px 30px;
    width: fit-content;
    align-self: center;
    color: black;
    border-radius: 5px;
}

.form-row{
    display: flex;
    padding: 10px 0px 0px 0px;
}

.form-row > *{
    flex-basis: 0;
    flex-grow: 1;
    margin: 5px;
}

.spaced-between{
    justify-content: space-between;
}

.form-contact-field {
    display: flex;
}

.form-contact-field input{
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 5px;
}

.form-big-row{
    height: 100px;
}

select, input{
    color: white;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0);
    padding: 5px 10px;
    font-size: 1.2rem;
}



.resume-field{
    border: 1px solid white;
    line-height: 4rem;
    padding: 0px 0px 0px 10px;
}

.resume-field::file-selector-button{
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: right;
    border-radius: 5px;
    border: none;
    width: 20%;
    background-color: rgb(81, 85, 92);
    color:white;
    border-left: 1px solid white;
}


.trademark{
    position: absolute;
    transform-origin: bottom left;
    transform: translate(100%, 0px) rotate(-90deg);
    bottom: 0px;
    right: 0px;
    white-space: nowrap;
}

.padded5{
    padding: 5px;
}

.footer{
    background-color: black;
    color: white;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

@media only screen and (max-width: 700px) {
    .nav {
        flex-direction: column;
    }
    .container{
        padding: 0px;
    }

    .content {
        flex-direction: column;
    }

    .is-column-flex-on-shrink{
        flex-direction: column;
    }

    .is-center-on-shrink{
        align-items: center;
    }

    .is-center-on-shrink > * {
        text-align: center;
    }
}