*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(65, 68, 74);
}

.no-background{
    background-color: transparent;
}

.small-text{
    font-size: 0.8rem;
}

.normal-text{
    font-size: 1rem;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > * {
    margin: 10px;
}

.container-heading {
    margin-bottom: 30px;
}

.container-heading > h1{
    color: white;
    position: relative;
}


.circle{
    position: absolute;
    left: -50px;
    top: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(189, 56, 32);
}

.form-row{
    display: flex;
    padding: 10px 0px
}

.spaced-between > *{
    margin-right: 10px;
}

.form-row-fill > *{
    width: 100%;
    margin-right: 10px;
}

.form-contact-field{
    display: flex;
}

.form-big-row > * {
    height: 70px;
}

input, select , button{
    font-size: 1.4rem;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.resume-field{
    border: 1px solid white;
    line-height: 4rem;
    padding: 0px 0px 0px 10px;
}

.resume-field::file-selector-button{
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: right;
    border-radius: 5px;
    border: none;
    width: 20%;
    background-color: rgb(81, 85, 92);
    color:white;
    border-left: 1px solid white;
}

.right-align-flex{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
